<!DOCTYPE html>
<head>
    <title>ExistingCwidError</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>The entered CWID does not match one belonging to an entered employee. Please return and resubmit the request.</h2>
    </hgroup>
</body>


@model System.Web.Mvc.HandleErrorInfo
<h1 class="text-danger">ExistingCWID-Error.@Model.Exception.Message</h1>
<h3 class="text-danger">ExistingCWID-Error (Message).</h3>

@Html.ActionLink("Back", "Contribution", "Home");