@model UnitedWayPrototypeApplication.Models.ImportExcel

@{
    ViewBag.Title = "Excel Import Success";
}

<h2>Excel Import Successful!</h2>


<div>
    @Html.ActionLink("Back to List", "Employee")
</div>
