@{
    Layout = null;
}

<!DOCTYPE html>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Employee</a>
    <a href="#">Agency</a>
    <a href="#">Contribution</a>
    <a href="#">Department</a>
</div>
<span onclick="openNav()">open</span>
